body{
    background-color: black;
}
.invisible{
    display: none;
}
/*Les boites*/
.BoiteD{
    height: 745px;
    width: 350px;
    border: 1px solid white;
    border-radius: 10px;
    margin:10px;
}
.BoiteGauche{
    height: 745px;
    width: 435px;
    border: 1px solid white;
    border-radius: 10px;
    margin:10px;
    display: flex;
    flex-wrap: wrap;
}
.BigBox{
    display: flex;
    flex-direction: row;
}

.sous_boite_haut{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.BoxWithOneCercle{
    background-color: rosybrown;
    height: 40px;
    width: 80px;
    border-radius: 10px;
    border: 4px dashed white;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.CercleInBox{
    height: 30px;
    width: 30px;
    border-radius: 30px;
}

.boutonCouleur{
    height: 30px;
    width: 30px;
    border-radius: 30px;
    margin: 12px;
}

.BoxHint{
    display: flex;
    flex-direction: row;
    margin: 0 0 0 15px;
}
.Hintbox{
    border: 1px solid white;
    height: 20px;
    width: 20px;
    margin: 10px;
}
p{
    color: white;
    margin: 10px;
}

#HintBoxOne{
    border: 3px solid lightgreen;
}
#HintBoxTwo{
    border: 3px solid yellow;
}
.BoiteBouton{
    margin: 10px 0 0 20px ;
}

.btn{
    padding: 5px;
    border-radius: 10px;
    background-color: whitesmoke;
}
#btnValider{
    background-color: dodgerblue;
    opacity: 0.5;
}
